@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #213547;
}

html {
  scroll-behavior: smooth;
}

/* Sets a border color based upon breakpoint. Used for dev purposes */
/* * {
  border: 1px rgb(255, 117, 117) dashed;
}

@media (min-width: 640px) {
  * {
    border: 1px rgb(255, 236, 151) dashed;
  }
}

@media (min-width: 1024px) {
  * {
    border: 1px rgb(198, 255, 122) dashed;
  }
} */

/* The hero section cards. This was difficult to style using Tailwind, so it's here. */
.languagesAndSkills-card {
  border-color: #00000003;
  border-style: solid;
  padding: 0.1rem 1rem;
  border-radius: 15px;
  box-shadow: 0px -3px 0px -1px #00000025 inset,
    0px 8px 0px -5px #ffffff50 inset;
}

.languagesAndSkills-card-text {
  font-size: 1.5rem;
  font-weight: 1000;
  letter-spacing: 2px;
}

#card-vsCode {
  background-color: #cdf7ff;
  translate: -3rem 1rem;
}
#card-text-vsCode {
  background-image: linear-gradient(
    180deg,
    rgba(9, 217, 255, 1) 0%,
    rgba(53, 176, 198, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

#card-python {
  background-color: #eadafc;
  translate: 1rem 1rem;
  z-index: 0;
}
#card-text-python {
  background: rgb(188, 129, 255);
  background-image: linear-gradient(
    157deg,
    rgba(188, 129, 255, 1) 0%,
    rgba(113, 78, 153, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

#card-nodeJS {
  background-color: #f3ffa3;
  translate: 10rem 1rem;
  z-index: 2;
}
#card-text-nodeJS {
  background: rgb(130, 172, 52);
  background-image: linear-gradient(
    180deg,
    rgba(130, 172, 52, 1) 0%,
    rgba(152, 191, 66, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

#card-react {
  background-color: #e0f0fd;
  translate: 2rem 3rem;
  z-index: 1;
}
#card-text-react {
  background: rgb(132, 175, 242);
  background-image: linear-gradient(
    180deg,
    rgba(132, 175, 242, 1) 0%,
    rgba(59, 128, 228, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

#card-expressJS {
  background-color: #fae299;
  z-index: 3;
  translate: 0rem 2rem;
}

#card-text-expressJS {
  background: rgb(211, 124, 53);
  background-image: linear-gradient(
    180deg,
    rgba(211, 124, 53, 1) 0%,
    rgba(228, 146, 73, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

#card-tailwind {
  background-color: #dffdff;
  z-index: 4;
  translate: 0rem 2rem;
}

#card-text-tailwind {
  background: rgb(22, 190, 203);
  background-image: linear-gradient(
    180deg,
    rgba(22, 190, 203, 1) 0%,
    rgba(181, 247, 252, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

#card-mySQL {
  background-color: #e7e7e7;
  z-index: -1;
}

#card-text-mySQL {
  background: rgb(226, 226, 226);
  background-image: linear-gradient(
    180deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(163, 163, 163, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
